<%= form_for(country,:html => { :multipart => true }) do |f| %>
  <% if country.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(country.errors.count, "error") %> prohibited this country from being saved:</h2>

      <ul>
      <% country.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <table align="center">
    <tr>
      <td>
        <div class="field">
          <%= f.label 'Imagem' %>
          <%= f.file_field :imagem %>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="field">
          <%= f.label :local %>
          <%= f.text_field :local %>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="field">
          <%= f.label :capital %>
          <%= f.text_field :capital %>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="field">
          <%= f.label :extensao %>
          <%= f.number_field :extensao %>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="field">
          <%= f.label :idioma %>
          <%= f.text_field :idioma %>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="field">
          <%= f.label :populacao %>
          <%= f.number_field :populacao %>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="field">
          <%= f.label :pib %>
          <%= f.text_field :pib %>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="field">
          <%= f.label :moeda %>
          <%= f.text_field :moeda %>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="field">
          <%= f.label :ano_referencia %>
          <%= f.number_field :ano_referencia %>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="actions">
          <%= f.submit %>
        </div>
      </td>
    </tr>
  </table>    
<% end %>