<div align="center">
	<h1> Continentes </h1>
</div>
<br>

<table align="center" width="50%" >
    
    <tr>
      <td>
	      <%= link_to controller: "countries", action: "listaContinentes", escolha: 'america_do_sul' do %>
	        <%= image_tag 'IMGS/america_do_sul_5.png', title: "América do Sul" %>
	        <%# "América do Sul" %>
	      <% end %>|
      </td>

      <td>
	      <%= link_to controller: "countries", action: "listaContinentes", escolha: 'america_central' do %>
	        <%= image_tag 'IMGS/america_central_5.png', title: "América Central" %>
	        <%# "América Central" %>
	      <% end %>|
      </td>

      <td>
	      <%= link_to controller: "countries", action: "listaContinentes", escolha: 'america_do_norte' do %>
	        <%= image_tag 'IMGS/america_do_norte_5.png', title: "América do Norte" %>
	        <%# "América do Norte" %>
	      <% end %>|
      </td>

      <td>
	      <%= link_to controller: "countries", action: "listaContinentes", escolha: 'europa' do %>
	        <%= image_tag 'IMGS/europa_5.png', title: "Europa" %>
	        <%# "Europa" %>
	      <% end %>|
      </td>

      <td>
	      <%= link_to controller: "countries", action: "listaContinentes", escolha: 'africa' do %>
	        <%= image_tag 'IMGS/africa_5.png', title: "África" %>
	        <%# "África" %>
	      <% end %>|
      </td>

      <td>
	      <%= link_to controller: "countries", action: "listaContinentes", escolha: 'asia' do %>
	        <%= image_tag 'IMGS/asia_5.png', title: "Ásia" %>
	        <%# "Ásia" %>
	      <% end %>|
      </td>

      <td>
	      <%= link_to controller: "countries", action: "listaContinentes", escolha: 'oceania' do %>
	        <%= image_tag 'IMGS/oceania_5.png', title: "Oceania" %>
	        <%# "Oceania" %>
	      <% end %>|
      </td>

    </tr>

</table>

<br>

<div id="container">
  <table class="table table-condensed" align="center" width="80%">
    <thead>
      <tr>
        <th>ID</th>
        <th>País</th>
        <th>Capital</th>
        <th>Bandeira</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @paises.each do |country| %>
        <tr>
          <td><%= country.id %></td>
          <td><%= country.nome %></td>
          <td><%= country.capital %></td>
          <td><%= image_tag country.imagem.url, size:"100x60" %></td>
          <td><%= link_to 'Show', country %></td>
          <!-- <td><%# link_to 'Edit', edit_country_path(country) %></td> -->
          <!-- <td><%# link_to 'Destroy', country, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<center>
  <%= will_paginate @paises %>
</center>
