<p id="notice"><%= notice %>

<div id="titulo" class="animated pulse">
  Dados sobre <%= @country.nome %>
</div>

<center>
  <%= image_tag @country.imagem.url, size:"250x200" %>
</center>

<hr>

<table class="table" align="center">
  <tr>
    <th>ID:</th>
    <td><%= @country.id %></td>
  </tr>

  <tr>
    <th>Nome:</th>
    <td><%= @country.nome %></td>
  </tr>

  <tr>
    <th>Localização:</th>
    <td><%= @country.local %></td>
  </tr>

  <tr>
    <th>Capital:</th>
    <td><%= @country.capital %></td>
  </tr>

  <tr>
    <th>Extensao:</th>
    <td>
      <%= number_with_delimiter(@country.extensao, precision: 3, delimiter: ".") %> km²
    </td>
  </tr>

  <tr>
    <th>Idioma:</th>
    <td><%= @country.idioma %></td>
  </tr>

  <tr>
    <th>População:</th>
    <td><%= number_with_delimiter(@country.populacao, precision: 3, delimiter: ".") %> hab</td>
  </tr>

  <tr>
    <th>PIB:</th>
    <td><%= number_to_currency(@country.pib, precision: 2, unit: "US$ ", separator: ",", delimiter: ".") %></td> <!-- number_to_currency(1234567890.506, precision: 3) -->
  </tr>

  <tr>
    <th>Moeda:</th>
    <td><%= @country.moeda %></td>
  </tr>

  <tr>
    <th>Ano referência:</th>
    <td><%= @country.ano_referencia %></td>
  </tr>
</table>

<%# link_to 'Edit', edit_country_path(@country) %>
<%# link_to 'Back', countries_path %>