<p id="notice"><%= notice %>

<table class="table" border="1" align="center">
  <tr>
    <th>ID:</th>
    <td><%= @country.id %></td>
  </tr>

  <tr>
    <th>Nome:</th>
    <td><%= @country.nome %></td>
  </tr>

  <tr>
    <th>Localização:</th>
    <td><%= @country.local %></td>
  </tr>

  <tr>
    <th>Capital:</th>
    <td><%= @country.capital %></td>
  </tr>

  <tr>
    <th>Extensao:</th>
    <td><%= @country.extensao %></td>
  </tr>

  <tr>
    <th>Idioma:</th>
    <td><%= @country.idioma %></td>
  </tr>

  <tr>
    <th>População:</th>
    <td><%= @country.populacao %></td>
  </tr>

  <tr>
    <th>PIB:</th>
    <td><%= @country.pib %></td>
  </tr>

  <tr>
    <th>Moeda:</th>
    <td><%= @country.moeda %></td>
  </tr>

  <tr>
    <th>Ano referência:</th>
    <td><%= @country.ano_referencia %></td>
  </tr>
</table>

<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>