<p id="notice"><%= notice %>

<div id="titulo" class="animated pulse">
  Dados sobre <%= @country.nome %>
</div>

<center>
  <%= image_tag @country.imagem.url, size:"250x200" %>
</center>

<hr>

<table class="table" align="center">
  <tr>
    <th>ID:</th>
    <td><%= @country.id %></td>
  </tr>

  <tr>
    <th>Nome:</th>
    <td><%= @country.nome %></td>
  </tr>

  <tr>
    <th>Localização:</th>
    <td><%= @country.local %></td>
  </tr>

  <tr>
    <th>Capital:</th>
    <td><%= @country.capital %></td>
  </tr>

  <tr>
    <th>Extensao:</th>
    <td>
      <%= number_with_delimiter(@country.extensao, precision: 3, delimiter: ".") %> km²
    </td>
  </tr>

  <tr>
    <th>Idioma:</th>
    <td><%= @country.idioma %></td>
  </tr>

  <tr>
    <th>População:</th>
    <td><%= number_with_delimiter(@country.populacao, precision: 3, delimiter: ".") %> hab</td>
  </tr>

  <tr>
    <th>PIB:</th>
    <td><%= number_to_currency(@country.pib, precision: 2, unit: "US$ ", separator: ",", delimiter: ".") %></td> <!-- number_to_currency(1234567890.506, precision: 3) -->
  </tr>

  <tr>
    <th>Moeda:</th>
    <td><%= @country.moeda %></td>
  </tr>

  <tr>
    <th>Ano referência:</th>
    <td><%= @country.ano_referencia %></td>
  </tr>
</table>

<% descricao = @country.nome + ' é um país localizado na ' + @country.local + '. Sua capital é ' + @country.capital + '. Possui uma extensão de ' + @country.extensao.to_s + ' quilômetros quadrados. Sua população é estimada em ' + @country.populacao.to_s + ' de habitantes. ' + ' No país se fala o idioma ' + @country.idioma + '. A moeda utilizada é ' + @country.moeda
%>

<%# descricao = @country.nome + ' é um país localizado na ' + @country.local + '. Sua capital é ' + @country.capital + '. Possui uma extensão de ' %>


<%# link_to 'Edit', edit_country_path(@country) %>
<%# link_to 'Back', countries_path %>

<script type="text/javascript" src="responsivevoice.js"></script>

<button class="butt js--triggerAnimation" onclick="responsiveVoice.speak('<%= descricao %>','Brazilian Portuguese Female', {rate: 2});" 
type="button" value="Play">Play</button>

<button class="butt js--triggerAnimation" onclick="responsiveVoice.pause();" 
type="button" value="Pause">Pause</button>

<button class="butt js--triggerAnimation" onclick="responsiveVoice.resume();" 
type="button" value="Continue">Continue</button>

<button class="butt js--triggerAnimation" onclick="responsiveVoice.cancel();" 
type="button" value="Stop">Stop</button>